// secrets.h
// define secrets here... if you dare
// just make a copy of this file and name it secrets.h
// then define your own secrets

#pragma once

/**
 * @brief Macro for defining a list of secrets.
 *
 * This macro is used to define a list of secrets in the format:
 *   _(SECRET_NAME, "secret_value")
 *
 * @param _ The macro to be expanded for each secret.
 */
#define SECRETS_LIST(_) \
    _(SECRET_PIN,     "12345678") \
    _(SECRET_PHRASE,  "my very secret phrase") \
    _(SECRET_PASS_1,  "password1") \
    _(SECRET_PASS_2,  "password2") \
    _(SECRET_PASS_3,  "password3") \
    _(SECRET_PASS_4,  "password4") 

